.zero{
    padding: 0!important;
    margin: 0!important;
}
.navbar {
    background-image: url(../img/1123.png)!important
}
.color_blue{color: blue;}
.color_red{color: red}
.color_green{color: green}
.chaxun{padding: 4px 12px!important;}
.mohusou>label{margin-left: 10px;}
.chaxun{margin-left: 10px;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {text-align: center;}
.zsgc > li{list-style: none;}
.zsgc{margin-top: 5px;margin-left: -35px;}
.widlk{background-color: #fff!important;}
.ibox-content1 {
    color: inherit;
    border-color: #e7eaec;
    border-image: none;
    border-width: 1px 0;
}
.green{color: #18a689!important;}
.form-group{
    font-size: 22px;
font-weight: 900;
color: #fff;
line-height: 55px;
    width: 300px;
}
.top_4{
    position: relative!important;
    top: 35%!important; 
}
.fenye{
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #fff;
    padding-top: 5px !important;
    z-index: 9999;
        border-top: 1px solid #ddd;
}
.pagination > li {
    float: left !important;
}
.fenyek{
    width: 40px;
    height: 28.4px;
    border-color: #ddd !important;
}
.fenye2{
    height: 28.4px!important;
}
.cencetc{text-align: center!important}
.w_200{
    width: 200px!important;
}
.erji{
    margin: 150px auto!important;
}
.biaoqian{
    font-size: 15px!important;
    padding: 8px!important;
    text-align: left!important;
}
.disin{display: inline-block}
.red{color: red;}
.w_150{
    width: 150px!important;
}
.list-group-item{
    border: 1px solid #fff!important;
}
.mar0{margin-top: 3px!important;}
.w_170{width:170px!important;}
.liebiao>li{
    display: inline-block!important;
}
.fr{float: right;}
.fl{float: left;}
.danju{
    height: 80px;
    width: 150px;
    text-align: center;
    line-height: 25px;
    margin: 0px;
    padding: 5px 20px 5px 20px !important;
}
.liebiao{padding-left: 15px;}
.paipaig{background-color: #f9f9f9!important;}
.tanchu{
    position: absolute;
    margin-top: -40px;
    margin-left: 60px;
    background-color: #000;
    color: #fff;
    z-index: 9999;
    opacity: 0.6;
    display: none;
}
.tanchu ul>li{
    list-style: none;
}
.tanchu ul{padding: 10px;}