<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soft.web.dao.train.TrainMapper">
	
	<!-- 根据状态查询直通车订单列表 -->
	<select id="queryTrainList" resultType="java.util.Map">
		select
			t.id, t.userName,t.userTel,t.peopleNum,t.departurePlace,t.destination,
			t.checkStartTime,t.checkEndTime,t.state,d.checkName,d.checkTel,d.cardId 
		from tb_train_order t left join tb_train_order_detail d on t.id=d.t_id
		where 1=1 and d.state=0 
		<if test="state != null and state != '-1'">
			and t.state=#{state} 
		</if>
		order by t.createTime desc
	</select>
	
	<!-- 根据id修改直通车当前状态（0初始值；1未沟通；2已沟通；3未成单；已成单；）  -->
	<update id="updateTrainStateById">
		update tb_train_order t set t.state=#{state}, t.updateTime=#{updateTime} where t.id=#{id}
	</update>
	
	<!-- 添加直通车订单  -->
	<insert id="addTrain">
		insert into tb_train_order(userName, userTel, departurePlace, destination, checkStartTime, checkEndTime, peopleNum, createTime, updateTime, state)
		values(#{userName}, #{userTel}, #{departurePlace}, #{destination}, #{checkStartTime}, #{checkEndTime}, #{peopleNum}, #{createTime}, #{updateTime}, 0)
	</insert>
</mapper>