<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"   
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soft.web.dao.user.UserMapper">

	<select id="queryUser" resultType="java.util.Map">
		select
			t.user_id,
			t.user_name,
			t.password,
			t.real_name,
			t.mobile,
			t.status
		from
			sys_user t
		where
			t.user_name = #{user_name}
	</select>
	<select id="queryRegister" resultType="java.util.Map">
		select
			t.user_id,
			t.user_name,
			t.password,
			t.real_name,
			t.mobile,
			t.status,
			t.create_date,
			t.inside
		from
			sys_user t
		where
			t.status = 2
		<if test="user_name != null and user_name != ''">
			and t.user_name like concat('%',#{user_name},'%')
		</if>
		order by
			t.create_date desc
		limit ${page.num},${page.size}
	</select>
	<select id="queryRegisterCount" resultType="Integer">
		select count(*)
		from sys_user t
		where t.status = 2
		<if test="user_name != null and user_name != ''">
			and t.user_name like concat('%',#{user_name},'%')
		</if>
	</select>
	<update id="password">
		update sys_user t set password = #{password} where t.user_id = #{user_id}
	</update>
	<update id="inside">
		update sys_user t set t.inside = 1 - t.inside
		where t.user_id = #{user_id}
	</update>
</mapper>