<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"   
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soft.web.dao.system.ConfigMapper">
	
	<select id="getConfig" resultType="java.util.Map">
		select * from sys_config t
		where t.id = 1
		limit 1
	</select>
	<update id="update">
		update sys_config
		set
			company = #{company},
			telephone = #{telephone},
			filepath = #{filepath}
		where id = 1
	</update>
</mapper>