<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分红</title>

    <link rel="shortcut icon" href="favicon.ico"> 
      <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet"><base target="_blank">
  </head>

<body class="gray-bg">

    <div class="col-sm-12 zero">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>邀请人分红方式(1.固定金额  2.比例分红【这个待定】）</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">固定金额设置</label>

                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="请输入整数金额">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">比例设置</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control"  placeholder="请输入百分比">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
       
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <button class="btn btn-white" type="submit">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
</body>

</html>