<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby='base/head :: head (${"修改密码"})'></head>
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--left-fixed -navigation-->
		<div th:substituteby='base/menu :: menu'></div>
		<!--left-fixed -navigation-->
		<!-- header-starts -->
		<div th:substituteby='base/nav :: nav'></div>
		<!-- //header-ends -->
		<!-- main content start-->
		<div id="page-wrapper">
			<form action="password.html" method="post">
				<div class="main-page signup-page">
					<h3 class="title1">修改密码</h3>
					<div class="sign-up-row widget-shadow">
						<div class="sign-u">
							<div class="sign-up1">
								<h4>原密码：</h4>
							</div>
							<div class="sign-up2">
								<input type="password" name="oldPass" placeholder="原密码" required />
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="sign-u">
							<div class="sign-up1">
								<h4>新密码：</h4>
							</div>
							<div class="sign-up2">
								<input type="password" name="newPass" placeholder="新密码" required />
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="sign-u">
							<div class="sign-up1">
								<h4>确认密码：</h4>
							</div>
							<div class="sign-up2">
								<input type="password" id="confirmPass" placeholder="确认密码" required />
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="has-error" th:if="${message != null}">
							<div class="checkbox">
								<label th:text="${message}">
									Checkbox with error
								</label>
							</div>
						</div>
						<div class="sub_home">
							<input type="submit" value="提交" />
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript">
	$("input[type='submit']").click(function() {
		if($("input[name='newPass']").val() != $("#confirmPass").val()){
			alert("新密码与确认密码不一致");
			return false;
		}
		return true;
	});
</script>
</html>