<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>产品新增</title>
	<link href="../commons/css/bootstrap.min.css" rel="stylesheet">
	<link href="../commons/css/font-awesome.min.css" rel="stylesheet">
	<link href="../commons/css/plugins/iCheck/custom.css" rel="stylesheet">
	<link href="../commons/css/animate.min.css" rel="stylesheet">
	<link href="../commons/css/style.min.css" rel="stylesheet">
	<script type="text/javascript" charset="utf-8" src="../commons/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="../commons/ueditor/ueditor.all.min.js"> </script>
	<script type="text/javascript" charset="utf-8" src="../commons/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body class="gray-bg">
	<div class="col-sm-12 zero">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>旅游产品新增</h5>
			</div>
			<div class="ibox-content">
				<form method="get" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">产品名称</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" placeholder="请输入产品名称">
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">产品价格</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" placeholder="请输产品价格">
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">产品简介</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" placeholder="请输产品简介">
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">产品特色</label>
						<div class="col-sm-10">
							<div id="editor" type="text/plain"
								style="width: 800px; height: 200px;"></div>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">产品费用说明</label>
						<div class="col-sm-10">
							<div id="editor1" type="text/plain"
								style="width: 800px; height: 200px;"></div>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">行程</label>
						<div class="col-sm-10">
							<div id="editor2" type="text/plain"
								style="width: 800px; height: 200px;"></div>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">产品预订须知</label>
						<div class="col-sm-10">
							<div id="editor3" type="text/plain"
								style="width: 800px; height: 200px;"></div>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">添加图片</label>
						<div class="col-sm-10">
							<ul class="tian_jia zero">
								<li><img src="../commons/img/tt0.jpg" width="100" height="100"></li>
								<li><img src="../commons/img/p_big3.jpg" width="150" height="100"></li>
								<li><img src="../commons/img/p_big3.jpg" width="150" height="100"></li>
								<li><button class="btn btn-primary chaxun demo3"
										type="button">
										<i class="glyphicon glyphicon-trash"></i> 删除
									</button></li>
							</ul>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<div class="col-sm-4 col-sm-offset-2">
							<button class="btn btn-primary" type="submit">保存内容</button>
							<button class="btn btn-white" type="submit">取消</button>
						</div>
					</div>
					<input type="button" value="获取ueditor内容" onclick="getContent()" />
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');

    var editor1 = UE.getEditor('editor1');
    
    var editor2 = UE.getEditor('editor2');
    
    var editor3 = UE.getEditor('editor3');

    
    
    
    function getContent() {
        var arr = [];
        arr.push("editor内容为：");
        arr.push(UE.getEditor('editor').getContent());
        
        
        arr.push("editor1内容为：");
        arr.push(UE.getEditor('editor1').getContent());
        
        arr.push("editor2内容为：");
        arr.push(UE.getEditor('editor2').getContent());
        
        arr.push("editor3内容为：");
        arr.push(UE.getEditor('editor3').getContent());
        alert(arr.join("\n"));
    }
  
</script>
</body>

</html>