<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soft.web.dao.automobile.AutomobileMapper">
	
	<!-- 根据状态查询火车票订单列表 -->
	<select id="queryAutomobileList" resultType="java.util.Map">
		select
			o.id, o.userName,o.userTel,o.peopleNum,o.departurePlace,o.destination,o.checkStartTime,
			o.checkEndTime,o.state,d.checkName,d.checkTel
		from tb_automobile_order o left join tb_automobile_order_detail d on o.id=d.t_id
		where 1=1 and d.state=0 
		<if test="state != null and state != '-1'">
			and o.state=#{state} 
		</if>
		order by o.createTime desc
		limit ${page.num},${page.size}
	</select>
	<select id="queryAutomobileListCount" resultType="Integer">
		select count(*)
		from tb_automobile_order o left join tb_automobile_order_detail d on o.id=d.t_id
		where 1=1 and d.state=0 
		<if test="state != null and state != '-1'">
			and o.state=#{state} 
		</if>
	</select>
	
	<!-- 根据id修改火车票当前状态（0初始值；1未沟通；2已沟通；3未成单；已成单；）  -->
	<update id="updateAutomobileStateById">
		update tb_automobile_order o set o.state=#{state}, o.updateTime=#{updateTime} where o.id=#{id}
	</update>
	
	<!-- 添加火车票订单  -->
	<insert id="addAutomobile">
		insert into tb_automobile_order(userName, userTel, departurePlace, destination, checkStartTime, checkEndTime, peopleNum, createTime, updateTime, state)
		values(#{userName}, #{userTel}, #{departurePlace}, #{destination}, #{checkStartTime}, #{checkEndTime}, #{peopleNum}, #{createTime}, #{updateTime}, 0)
	</insert>
	
		<!-- 根据ID查询火车票订单详情列表 -->
	<select id="queryAutomobileDetailList" resultType="java.util.Map">
		select
			* 
		from tb_automobile_order_detail 
		where 1=1 and state=0 
		<if test="t_id != null and t_id != '-1'">
			and t_id=#{t_id} 
		</if>
		order by createTime desc
	</select>
	
</mapper>